<div class="top-header">
  <nav>
    <h2>ロゴ</h2>
    <ul>
      <li>メニュー</li>
      <li>メニュー</li>
      <li>メニュー</li>
    </ul>
  </nav>

  <div class="social-btn">
    <a href="#" class="square_btn">Facebookで登録</a>
    <a href="#" class="square_btn">Twitterで登録</a>
  </div>
</div>
